In [1]:
import pandas as pd
import numpy as np
import itertools
import random
import math
from collections import defaultdict
from collections import Counter
import itertools
from matplotlib import pyplot as plt

# Reading data

In [2]:
alunos = pd.read_csv('alunos.csv', sep=';')
alunos.head()

        Data  Idade     Doenca
0  21/9/2019     16    sarampo
1  19/8/2006     18  meningite
2  15/1/2011     16  meningite
3  13/2/2009     17   catapora
4  19/6/2006     18  meningite

In [3]:
def pre_processing(path):
    students = pd.read_csv(path, sep=';')
    split_data = students.copy()
    complemento = students['Data'].str.split('/', expand=True)
    split_data['Dia'], split_data['Mes'], split_data['Ano'] = complemento[0], complemento[1], complemento[2]
    decades = [year[:-1]+'0' for year in split_data['Ano']]
    split_data['Decada'] = decades
    
    split_data['FaixaEtaria'] = [None]*len(split_data)
    bins = [int(split_data['Idade'].min())-1, int(split_data['Idade'].min())+2, int(split_data['Idade'].max())+1]
    labels = [str(bins[i-1])+'-'+str(bins[i]-1) for i in range(1, len(bins))]
    split_data['FaixaEtaria'] = pd.cut(split_data['Idade'], bins=bins, labels=labels)
    
    split_data['RangeMaximo'] = [str(split_data['Idade'].min())+'-'+str(split_data['Idade'].max())]*len(split_data)
    
    split_data = split_data[['Dia', 'Mes', 'Ano', 'Decada', 'Idade', 'FaixaEtaria', 'RangeMaximo', 'Doenca']]
    
    return students, split_data

### Separating data to generalize it when necessary

In [4]:
original_data, split_data = pre_processing('alunos.csv')

In [5]:
split_data

    Dia Mes   Ano Decada  Idade FaixaEtaria RangeMaximo     Doenca
0    21   9  2019   2010     16       15-17       16-20    sarampo
1    19   8  2006   2000     18       15-17       16-20  meningite
2    15   1  2011   2010     16       15-17       16-20  meningite
3    13   2  2009   2000     17       15-17       16-20   catapora
4    19   6  2006   2000     18       15-17       16-20  meningite
..   ..  ..   ...    ...    ...         ...         ...        ...
295   8  10  2017   2010     17       15-17       16-20    sarampo
296  21   9  2005   2000     19       18-20       16-20   catapora
297  29   5  2005   2000     16       15-17       16-20    sarampo
298  19   1  2007   2000     19       18-20       16-20    sarampo
299   6  10  2012   2010     19       18-20       16-20  meningite

[300 rows x 8 columns]

In [6]:
students = split_data[['Dia','Mes','Ano','Idade','Doenca']]
students

    Dia Mes   Ano  Idade     Doenca
0    21   9  2019     16    sarampo
1    19   8  2006     18  meningite
2    15   1  2011     16  meningite
3    13   2  2009     17   catapora
4    19   6  2006     18  meningite
..   ..  ..   ...    ...        ...
295   8  10  2017     17    sarampo
296  21   9  2005     19   catapora
297  29   5  2005     16    sarampo
298  19   1  2007     19    sarampo
299   6  10  2012     19  meningite

[300 rows x 5 columns]

In [7]:
def initial_clusters(dataset, k):   
    def priority(dataset):
        generalization_order = [list(dataset.columns[i:-1]) for i in range(len(dataset.columns)-1)]
        generalization_order = [dataset.groupby(generalization_order[i]).groups for i in range(len(generalization_order))]

        return generalization_order
    
    clusters = defaultdict(list)
    clustered = set()
    generalization_order = priority(dataset)

    for i in range(len(generalization_order)):
        for key, value in zip(generalization_order[i].keys(), generalization_order[i].values()):
            if len(value) >= k and len(clustered.intersection(value)) == 0:
                # se o grupo do groupby Ã© maior ou igual a k e nenhum dos valores jÃ¡ estiver agrupado
                clusters[key] = list(itertools.chain(value))
                clustered = clustered.union(clusters[key])
                
    return clusters, clustered

In [8]:
clusters, clustered = initial_clusters(students, 2)
clusters

defaultdict(list,
            {('5', '4', '2011', 18): [111, 212],
             ('1', '2011', 16): [2, 193],
             ('1', '2014', 20): [109, 275],
             ('1', '2015', 19): [178, 214],
             ('10', '2006', 19): [40, 209],
             ('10', '2012', 19): [175, 242, 299],
             ('11', '2007', 19): [15, 161],
             ('11', '2017', 16): [62, 119],
             ('11', '2019', 19): [21, 88],
             ('2', '2005', 18): [38, 55],
             ('2', '2006', 16): [29, 136],
             ('2', '2009', 17): [3, 248],
             ('2', '2012', 19): [60, 118],
             ('2', '2015', 20): [87, 102],
             ('3', '2007', 17): [154, 231],
             ('3', '2007', 19): [47, 155],
             ('3', '2013', 18): [148, 282],
             ('3', '2015', 17): [112, 254],
             ('3', '2017', 18): [100, 270],
             ('3', '2018', 16): [9, 96],
             ('4', '2005', 18): [67, 217],
             ('4', '2009', 20): [77, 210],
             ('4', '2012', 16): [26, 90],
             ('4', '2014', 20): [194, 276],
             ('4', '2018', 17): [91, 138],
             ('5', '2006', 19): [71, 114],
             ('5', '2009', 16): [83, 150],
             ('5', '2009', 17): [42, 192],
             ('5', '2009', 20): [158, 207],
             ('5', '2014', 17): [223, 235],
             ('6', '2007', 18): [79, 216],
             ('6', '2014', 18): [183, 195],
             ('7', '2007', 18): [152, 185],
             ('7', '2008', 19): [76, 264, 291],
             ('7', '2009', 16): [48, 177],
             ('7', '2009', 19): [170, 199],
             ('7', '2012', 19): [33, 278],
             ('7', '2013', 16): [20, 126],
             ('7', '2015', 18): [53, 290],
             ('7', '2017', 16): [89, 241],
             ('7', '2018', 16): [139, 171],
             ('7', '2019', 19): [52, 262],
             ('8', '2006', 18): [1, 32],
             ('8', '2006', 20): [13, 206],
             ('8', '2015', 16): [22, 73],
             ('8', '2018', 18): [179, 245],
             ('9', '2006', 18): [59, 159],
             ('9', '2008', 18): [80, 287],
             ('9', '2012', 19): [36, 144],
             ('9', '2018', 17): [128, 145],
             ('9', '2018', 20): [273, 288],
             ('2005', 16): [12, 134, 166, 297],
             ('2005', 19): [132, 157, 160, 277, 279, 296],
             ('2005', 20): [46, 98, 220, 243, 280],
             ('2006', 17): [27, 124],
             ('2007', 20): [140, 146],
             ('2008', 16): [41, 125, 252],
             ('2008', 17): [84, 205, 219, 251, 271],
             ('2008', 20): [99, 169, 246],
             ('2009', 18): [57, 184, 228],
             ('2010', 16): [108, 173, 180],
             ('2010', 17): [197, 208, 218, 269],
             ('2010', 18): [61, 70, 133],
             ('2010', 19): [17, 127],
             ('2011', 17): [203, 236],
             ('2011', 19): [45, 74, 129, 239, 274],
             ('2011', 20): [97, 103, 163],
             ('2012', 17): [95, 115, 121, 222, 266],
             ('2012', 18): [8, 256],
             ('2013', 17): [37, 39, 164],
             ('2013', 19): [35, 227, 258],
             ('2013', 20): [43, 284, 294],
             ('2014', 19): [50, 156, 213, 234],
             ('2016', 17): [10, 16, 66, 122],
             ('2016', 19): [78, 135, 249, 283, 292],
             ('2016', 20): [94, 181],
             ('2017', 17): [64, 188, 295],
             ('2017', 19): [233, 259],
             ('2017', 20): [168, 257],
             ('2018', 19): [131, 167, 285],
             ('2019', 16): [0, 49],
             ('2019', 17): [19, 196],
             ('2019', 18): [113, 143, 247, 272],
             ('2019', 20): [6, 14, 23]})

In [9]:
def generalization_trees():
    date_lvl = {
        ('Dia', 'Mes', 'Ano'): 1,
        ('Mes', 'Ano'): 2,
        ('Ano'): 3,
        ('Decada'): 4
    }
    
    age_lvl = {
        ('Idade'): 1,
        ('FaixaEtaria'): 2,
        ('RangeMaximo'): 3
    }
    
    return date_lvl, age_lvl

In [10]:
gen_trees = generalization_trees()
periods_date = list(gen_trees[0].keys())
periods_age = list(gen_trees[1].keys())

all_combinations = list(itertools.product(periods_date, periods_age))
print(all_combinations)
order = []
for i in all_combinations:
    order.append(gen_trees[0][i[0]]+gen_trees[1][i[1]])
print(order)
list(zip(order, all_combinations))
#[x for y, x in sorted(zip(order, all_combinations))]

[(('Dia', 'Mes', 'Ano'), 'Idade'), (('Dia', 'Mes', 'Ano'), 'FaixaEtaria'), (('Dia', 'Mes', 'Ano'), 'RangeMaximo'), (('Mes', 'Ano'), 'Idade'), (('Mes', 'Ano'), 'FaixaEtaria'), (('Mes', 'Ano'), 'RangeMaximo'), ('Ano', 'Idade'), ('Ano', 'FaixaEtaria'), ('Ano', 'RangeMaximo'), ('Decada', 'Idade'), ('Decada', 'FaixaEtaria'), ('Decada', 'RangeMaximo')]
[2, 3, 4, 3, 4, 5, 4, 5, 6, 5, 6, 7]

[(2, (('Dia', 'Mes', 'Ano'), 'Idade')),
 (3, (('Dia', 'Mes', 'Ano'), 'FaixaEtaria')),
 (4, (('Dia', 'Mes', 'Ano'), 'RangeMaximo')),
 (3, (('Mes', 'Ano'), 'Idade')),
 (4, (('Mes', 'Ano'), 'FaixaEtaria')),
 (5, (('Mes', 'Ano'), 'RangeMaximo')),
 (4, ('Ano', 'Idade')),
 (5, ('Ano', 'FaixaEtaria')),
 (6, ('Ano', 'RangeMaximo')),
 (5, ('Decada', 'Idade')),
 (6, ('Decada', 'FaixaEtaria')),
 (7, ('Decada', 'RangeMaximo'))]

In [11]:
def sort_priority(generalizations):
    date_tree, age_tree = 0()
    retur1n
sort_priority

<>:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
C:\Users\italo.abreu\AppData\Local\Temp\ipykernel_7052\529450774.py:2: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  date_tree, age_tree = 0()

In [13]:
priority_level(split_data)

NameError: name 'priority_level' is not defined

In [14]:
def sort_priority():
    return

def priority_level(dataset):
    gen_trees = generalization_trees()
    periods_date = list(gen_trees[0].keys())
    periods_age = list(gen_trees[1].keys())

    all_combinations = list(itertools.product(periods_date, periods_age))
    all_combinations = [list(itertools.chain.from_iterable([[i] if(type(i) == str) else list(i) for i in list_i ])) \
                        for list_i in all_combinations] 
    all_combinations = [i for i in all_combinations if('FaixaEtaria' in i or 'RangeMaximo' in i or 'Decada' in i)]
    print(all_combinations)
    all_groups = [dataset.groupby(all_combinations[i]).groups for i in range(len(all_combinations))]

    return all_groups

def cluster_by_priority(dataset, clusters, clustered, k):
    not_clustered = list(set(dataset.index) - set(clustered))
    not_clustered_df = dataset.loc[not_clustered]
    groups = priority_level(not_clustered_df)

    for i in range(len(groups)):
        for key, value in zip(groups[i].keys(), groups[i].values()):
            if (len(value) - len(clustered.intersection(value))) >= k : # and len(clustered.intersection(value)) == 0:
                # se o grupo do groupby Ã© maior ou igual a k e nenhum dos valores jÃ¡ estiver agrupado
                clusters[key] = list(itertools.chain(list(set(value) - set(clustered))))
                clustered = clustered.union(clusters[key])
                
    return clusters, len(dataset) - len(clustered), list(set(dataset.index) - set(clustered))

cluster_by_priority(split_data, clusters, clustered, 2)

[['Dia', 'Mes', 'Ano', 'FaixaEtaria'], ['Dia', 'Mes', 'Ano', 'RangeMaximo'], ['Mes', 'Ano', 'FaixaEtaria'], ['Mes', 'Ano', 'RangeMaximo'], ['Ano', 'FaixaEtaria'], ['Ano', 'RangeMaximo'], ['Decada', 'Idade'], ['Decada', 'FaixaEtaria'], ['Decada', 'RangeMaximo']]

(defaultdict(list,
             {('5', '4', '2011', 18): [111, 212],
              ('1', '2011', 16): [2, 193],
              ('1', '2014', 20): [109, 275],
              ('1', '2015', 19): [178, 214],
              ('10', '2006', 19): [40, 209],
              ('10', '2012', 19): [175, 242, 299],
              ('11', '2007', 19): [15, 161],
              ('11', '2017', 16): [62, 119],
              ('11', '2019', 19): [21, 88],
              ('2', '2005', 18): [38, 55],
              ('2', '2006', 16): [29, 136],
              ('2', '2009', 17): [3, 248],
              ('2', '2012', 19): [60, 118],
              ('2', '2015', 20): [87, 102],
              ('3', '2007', 17): [154, 231],
              ('3', '2007', 19): [47, 155],
              ('3', '2013', 18): [148, 282],
              ('3', '2015', 17): [112, 254],
              ('3', '2017', 18): [100, 270],
              ('3', '2018', 16): [9, 96],
              ('4', '2005', 18): [67, 217],
              ('4', '2009', 20): [77, 210],
              ('4', '2012', 16): [26, 90],
              ('4', '2014', 20): [194, 276],
              ('4', '2018', 17): [91, 138],
              ('5', '2006', 19): [71, 114],
              ('5', '2009', 16): [83, 150],
              ('5', '2009', 17): [42, 192],
              ('5', '2009', 20): [158, 207],
              ('5', '2014', 17): [223, 235],
              ('6', '2007', 18): [79, 216],
              ('6', '2014', 18): [183, 195],
              ('7', '2007', 18): [152, 185],
              ('7', '2008', 19): [76, 264, 291],
              ('7', '2009', 16): [48, 177],
              ('7', '2009', 19): [170, 199],
              ('7', '2012', 19): [33, 278],
              ('7', '2013', 16): [20, 126],
              ('7', '2015', 18): [53, 290],
              ('7', '2017', 16): [89, 241],
              ('7', '2018', 16): [139, 171],
              ('7', '2019', 19): [52, 262],
              ('8', '2006', 18): [1, 32],
              ('8', '2006', 20): [13, 206],
              ('8', '2015', 16): [22, 73],
              ('8', '2018', 18): [179, 245],
              ('9', '2006', 18): [59, 159],
              ('9', '2008', 18): [80, 287],
              ('9', '2012', 19): [36, 144],
              ('9', '2018', 17): [128, 145],
              ('9', '2018', 20): [273, 288],
              ('2005', 16): [12, 134, 166, 297],
              ('2005', 19): [132, 157, 160, 277, 279, 296],
              ('2005', 20): [46, 98, 220, 243, 280],
              ('2006', 17): [27, 124],
              ('2007', 20): [140, 146],
              ('2008', 16): [41, 125, 252],
              ('2008', 17): [84, 205, 219, 251, 271],
              ('2008', 20): [99, 169, 246],
              ('2009', 18): [57, 184, 228],
              ('2010', 16): [108, 173, 180],
              ('2010', 17): [197, 208, 218, 269],
              ('2010', 18): [61, 70, 133],
              ('2010', 19): [17, 127],
              ('2011', 17): [203, 236],
              ('2011', 19): [45, 74, 129, 239, 274],
              ('2011', 20): [97, 103, 163],
              ('2012', 17): [95, 115, 121, 222, 266],
              ('2012', 18): [8, 256],
              ('2013', 17): [37, 39, 164],
              ('2013', 19): [35, 227, 258],
              ('2013', 20): [43, 284, 294],
              ('2014', 19): [50, 156, 213, 234],
              ('2016', 17): [10, 16, 66, 122],
              ('2016', 19): [78, 135, 249, 283, 292],
              ('2016', 20): [94, 181],
              ('2017', 17): [64, 188, 295],
              ('2017', 19): [233, 259],
              ('2017', 20): [168, 257],
              ('2018', 19): [131, 167, 285],
              ('2019', 16): [0, 49],
              ('2019', 17): [19, 196],
              ('2019', 18): [113, 143, 247, 272],
              ('2019', 20): [6, 14, 23],
              ('1', '2014', '15-17'): [226, 141],
              ('1', '2015', '15-17'): [82, 123],
              ('1', '2018', '15-17'): [187, 261],
              ('11', '2007', '15-17'): [81, 293],
              ('11', '2014', '15-17'): [250, 286],
              ('7', '2006', '18-20'): [190, 31],
              ('1', '2009', '16-20'): [24, 149],
              ('10', '2006', '16-20'): [44, 198],
              ('10', '2007', '16-20'): [34, 204],
              ('3', '2006', '16-20'): [105, 202],
              ('3', '2009', '16-20'): [176, 263],
              ('3', '2015', '16-20'): [260, 238],
              ('4', '2015', '16-20'): [211, 110],
              ('5', '2014', '16-20'): [268, 182],
              ('7', '2015', '16-20'): [56, 86],
              ('9', '2009', '16-20'): [92, 191],
              ('2005', '15-17'): [162, 18, 116, 253],
              ('2006', '18-20'): [215, 267, 85, 151],
              ('2007', '15-17'): [225, 117],
              ('2007', '18-20'): [298, 75],
              ('2008', '15-17'): [232, 281, 172, 69],
              ('2009', '18-20'): [65, 11, 142, 120, 153, 93],
              ('2011', '15-17'): [165, 72, 137, 25, 186],
              ('2012', '15-17'): [244, 54],
              ('2013', '15-17'): [101, 230, 7],
              ('2014', '15-17'): [289, 107, 255],
              ('2015', '15-17'): [51, 30],
              ('2015', '18-20'): [265, 106, 221],
              ('2017', '15-17'): [229, 104, 237, 174, 63],
              ('2018', '15-17'): [224, 130, 68, 200, 189],
              ('2010', 20): [58, 147, 5],
              ('2000', '16-20'): [240, 4],
              ('2010', '16-20'): [201, 28]}),
 0,
 [])

In [15]:
split_data.loc[[17, 146, 140, 127]]

    Dia Mes   Ano Decada  Idade FaixaEtaria RangeMaximo     Doenca
17    9   7  2010   2010     19       18-20       16-20  meningite
146  23  11  2007   2000     20       18-20       16-20   catapora
140   7   6  2007   2000     20       18-20       16-20  meningite
127  14  11  2010   2010     19       18-20       16-20      gripe

In [16]:
def clustering_remaining_tuples(dataset, clusters, clustered, k): # dataset split with age range
    def priority_level(dataset, age_level, date_level):
        if(age_level == 2 and date_level < 4):
            data = dataset[['Dia', 'Mes', 'Ano', 'FaixaEtaria', 'Doenca']]
            generalization_order = [list(dataset.columns[i:-1]) for i in range(len(data.columns[:-1]))]
            generalization_order = [dataset.groupby(generalization_order[i]).groups for i in range(len(generalization_order))]
        
            return generalization_order
    
    # Agrupar por dÃ©cada e intervalo de idade
    not_clustered = list(set(dataset.index) - set(clustered))
    not_clustered_df = dataset.loc[not_clustered]
    
    
    
    return not_clustered_df
    
clustering_remaining_tuples(split_data, clusters, clustered, 2)

    Dia Mes   Ano Decada  Idade FaixaEtaria RangeMaximo     Doenca
4    19   6  2006   2000     18       15-17       16-20  meningite
5    18   5  2010   2010     20       18-20       16-20  meningite
7     5   9  2013   2010     16       15-17       16-20      gripe
11   24   6  2009   2000     19       18-20       16-20  meningite
18   27   5  2005   2000     18       15-17       16-20      gripe
..   ..  ..   ...    ...    ...         ...         ...        ...
281  17   4  2008   2000     18       15-17       16-20   catapora
286  28  11  2014   2010     18       15-17       16-20    sarampo
289   1   6  2014   2010     16       15-17       16-20   catapora
293   6  11  2007   2000     18       15-17       16-20  meningite
298  19   1  2007   2000     19       18-20       16-20    sarampo

[89 rows x 8 columns]

In [17]:
list(range(5))

[0, 1, 2, 3, 4]

# k-anonimato

In [18]:
def k_anonymity(dataset, clusters):
    k_anonymized = pd.DataFrame([[None]*3]*len(dataset), columns=dataset.columns)
    for key, value in zip(clusters.keys(), clusters.values()):
        if not isinstance(key, list) and isinstance(key, str):
            if '-' not in key:
                k_anonymized.loc[value] = [[key, '{}-{}'.format(dataset['Idade'].min(), dataset['Idade'].max()), key]+[dataset[dataset.columns[-1]].loc[v]] for v in value]
            else:
                k_anonymized.loc[value] = [['*', key]+[dataset[dataset.columns[-1]].loc[v]] for v in value]

        if not isinstance(key, list) and isinstance(key, int):
            k_anonymized.loc[value] = [['*', key]+[dataset[dataset.columns[-1]].loc[v]] for v in value]

        elif all(map(lambda x: isinstance(x, str), key)):
            k_anonymized.loc[value] = [[k for k in key]+[dataset[dataset.columns[-1]].loc[v]] for v in value]

        else:
            to_fill = [key[0]]
            for i in range(1, len(key)):
                if type(key[i]) == str:
                    to_fill[0] = to_fill[0] + str('/'+key[i])
                else:
                    to_fill.append(key[i])
            k_anonymized.loc[value] = [to_fill+[dataset[dataset.columns[-1]].loc[v]] for v in value]

    return k_anonymized

In [19]:
def plot_histogram(clusters):
    lengths = []
    for cluster in clusters.values():
        lengths.append(len(cluster))

    counter = dict(sorted(Counter(lengths).items()))
    keys_str = [str(key) for key in counter.keys()]
    plt.bar(keys_str, counter.values())
    
    return plt.show()

In [21]:
def calc_distance(x, y, attributes):
    D = 0
    for attr in attributes:
        if(x[attr] != y[attr]):
            D += 1
        print(attr, ': ', D, ' - ', x[attr], ' ?= ', y[attr])
            
    return D

In [22]:
# testing calc_distancabse
calc_distance(split_data.iloc[7], split_data.iloc[17], ['Dia', 'Mes', 'Ano', 'Decada', 'Idade', 'FaixaEtaria', 'RangeMaximo'])

Dia :  1  -  5  ?=  9
Mes :  2  -  9  ?=  7
Ano :  3  -  2013  ?=  2010
Decada :  3  -  2010  ?=  2010
Idade :  4  -  16  ?=  19
FaixaEtaria :  5  -  15-17  ?=  18-20
RangeMaximo :  5  -  16-20  ?=  16-20

5

In [23]:
split_data.loc[[7,17]]

   Dia Mes   Ano Decada  Idade FaixaEtaria RangeMaximo     Doenca
7    5   9  2013   2010     16       15-17       16-20      gripe
17   9   7  2010   2010     19       18-20       16-20  meningite

# Chamadas de funÃ§Ãµes

In [ ]:
clusters, clustered = initial_clusters(alunos_copy, 20)
all_clusters = clustering_remaining_tuples(alunos_copy, clusters, clustered, 20)

In [ ]:
a = k_anonymity(alunos, all_clusters)
a.head()

In [ ]:
plot_histogram(all_clusters)