In [1]:
import pandas as pd
import numpy as np
import itertools
import random
import math
from collections import defaultdict
from collections import Counter
from matplotlib import pyplot as plt

# Pré-processamento

In [2]:
def pre_processing(path):
    students = pd.read_csv(path, sep=';')
    split_data = students.copy()
    complemento = students['Data'].str.split('/', expand=True)
    split_data['Dia'], split_data['Mes'], split_data['Ano'] = complemento[0], complemento[1], complemento[2]
    decades = [year[:-1]+'0' for year in split_data['Ano']]
    split_data['Decada'] = decades
    
    split_data['FaixaEtaria'] = [None]*len(split_data)
    bins = [int(split_data['Idade'].min())-1, int(split_data['Idade'].min())+2, int(split_data['Idade'].max())+1]
    labels = [str(bins[i-1])+'-'+str(bins[i]-1) for i in range(1, len(bins))]
    split_data['FaixaEtaria'] = pd.cut(split_data['Idade'], bins=bins, labels=labels)
    
    split_data['RangeMaximo'] = [str(split_data['Idade'].min())+'-'+str(split_data['Idade'].max())]*len(split_data)
    
    split_data = split_data[['Dia', 'Mes', 'Ano', 'Decada', 'Idade', 'FaixaEtaria', 'RangeMaximo', 'Doenca']]
    
    return students, split_data

In [3]:
original_data, split_data = pre_processing('alunos.csv')

In [4]:
split_data.head()

  Dia Mes   Ano Decada  Idade FaixaEtaria RangeMaximo     Doenca
0  21   9  2019   2010     16       15-17       16-20    sarampo
1  19   8  2006   2000     18       15-17       16-20  meningite
2  15   1  2011   2010     16       15-17       16-20  meningite
3  13   2  2009   2000     17       15-17       16-20   catapora
4  19   6  2006   2000     18       15-17       16-20  meningite

# Níveis das árvores de Generalização

In [7]:
def date_tree(dataset):
    level1 = ['Dia', 'Mes', 'Ano']
    level2 = ['Mes', 'Ano']
    level3 = ['Ano']
    level4 = ['Decada']
    
    return level1, level2, level3, level4

In [8]:
def age_tree(dataset):
    level1 = ['Idade']
    level2 = ['FaixaEtaria']
    level3 = ['RangeMaximo']
    
    return level1, level2, level3

In [9]:
age_tree(split_data)

(['Idade'], ['FaixaEtaria'], ['RangeMaximo'])

In [12]:
date_tree(split_data)

(['Dia', 'Mes', 'Ano'], ['Mes', 'Ano'], ['Ano'], ['Decada'])

# Prioridade para agrupamentos

In [ ]:
def priority(dataset):
    priority_date = date_tree(dataset)
    priority_age = age_tree(dataset)
    
    comb_priority =