In [2]:
import pandas as pd
import numpy as np
import itertools
import random
import math
from collections import defaultdict
from collections import Counter
import itertools
from matplotlib import pyplot as plt

# Reading data

In [3]:
alunos = pd.read_csv('alunos.csv', sep=';')
alunos.head()

        Data  Idade     Doenca
0  21/9/2019     16    sarampo
1  19/8/2006     18  meningite
2  15/1/2011     16  meningite
3  13/2/2009     17   catapora
4  19/6/2006     18  meningite

In [4]:
def pre_processing(path):
    students = pd.read_csv(path, sep=';')
    split_data = students.copy()
    complemento = students['Data'].str.split('/', expand=True)
    split_data['Dia'], split_data['Mes'], split_data['Ano'] = complemento[0], complemento[1], complemento[2]
    decades = [year[:-1]+'0' for year in split_data['Ano']]
    split_data['Decada'] = decades
    
    split_data['FaixaEtaria'] = [None]*len(split_data)
    bins = [int(split_data['Idade'].min())-1, int(split_data['Idade'].min())+2, int(split_data['Idade'].max())+1]
    labels = [str(bins[i-1])+'-'+str(bins[i]-1) for i in range(1, len(bins))]
    split_data['FaixaEtaria'] = pd.cut(split_data['Idade'], bins=bins, labels=labels)
    
    split_data['RangeMaximo'] = [str(split_data['Idade'].min())+'-'+str(split_data['Idade'].max())]*len(split_data)
    
    split_data = split_data[['Dia', 'Mes', 'Ano', 'Decada', 'Idade', 'FaixaEtaria', 'RangeMaximo', 'Doenca']]
    
    return students, split_data

### Separating data to generalize it when necessary

In [5]:
original_data, split_data = pre_processing('alunos.csv')

In [6]:
split_data

    Dia Mes   Ano Decada  Idade FaixaEtaria RangeMaximo     Doenca
0    21   9  2019   2010     16       15-17       16-20    sarampo
1    19   8  2006   2000     18       15-17       16-20  meningite
2    15   1  2011   2010     16       15-17       16-20  meningite
3    13   2  2009   2000     17       15-17       16-20   catapora
4    19   6  2006   2000     18       15-17       16-20  meningite
..   ..  ..   ...    ...    ...         ...         ...        ...
295   8  10  2017   2010     17       15-17       16-20    sarampo
296  21   9  2005   2000     19       18-20       16-20   catapora
297  29   5  2005   2000     16       15-17       16-20    sarampo
298  19   1  2007   2000     19       18-20       16-20    sarampo
299   6  10  2012   2010     19       18-20       16-20  meningite

[300 rows x 8 columns]

In [7]:
students = split_data[['Dia','Mes','Ano','Idade','Doenca']]
students

    Dia Mes   Ano  Idade     Doenca
0    21   9  2019     16    sarampo
1    19   8  2006     18  meningite
2    15   1  2011     16  meningite
3    13   2  2009     17   catapora
4    19   6  2006     18  meningite
..   ..  ..   ...    ...        ...
295   8  10  2017     17    sarampo
296  21   9  2005     19   catapora
297  29   5  2005     16    sarampo
298  19   1  2007     19    sarampo
299   6  10  2012     19  meningite

[300 rows x 5 columns]

In [15]:
def initial_clusters(dataset, k):   
    def priority(dataset):
        generalization_order = [list(dataset.columns[i:-1]) for i in range(len(dataset.columns)-1)]
        generalization_order = [dataset.groupby(generalization_order[i]).groups for i in range(len(generalization_order))]

        return generalization_order
    
    clusters = defaultdict(list)
    clustered = set()
    generalization_order = priority(dataset)

    for i in range(len(generalization_order)):
        for key, value in zip(generalization_order[i].keys(), generalization_order[i].values()):
            if len(value) >= k and len(clustered.intersection(value)) == 0:
                # se o grupo do groupby é maior ou igual a k e nenhum dos valores já estiver agrupado
                clusters[key] = list(itertools.chain(value))
                clustered = clustered.union(clusters[key])
                
    return clusters, clustered

In [16]:
clusters, clustered = initial_clusters(students, 2)
clusters

defaultdict(list,
            {('5', '4', '2011', 18): [111, 212],
             ('1', '2011', 16): [2, 193],
             ('1', '2014', 20): [109, 275],
             ('1', '2015', 19): [178, 214],
             ('10', '2006', 19): [40, 209],
             ('10', '2012', 19): [175, 242, 299],
             ('11', '2007', 19): [15, 161],
             ('11', '2017', 16): [62, 119],
             ('11', '2019', 19): [21, 88],
             ('2', '2005', 18): [38, 55],
             ('2', '2006', 16): [29, 136],
             ('2', '2009', 17): [3, 248],
             ('2', '2012', 19): [60, 118],
             ('2', '2015', 20): [87, 102],
             ('3', '2007', 17): [154, 231],
             ('3', '2007', 19): [47, 155],
             ('3', '2013', 18): [148, 282],
             ('3', '2015', 17): [112, 254],
             ('3', '2017', 18): [100, 270],
             ('3', '2018', 16): [9, 96],
             ('4', '2005', 18): [67, 217],
             ('4', '2009', 20): [77, 210],
             ('4', '2012', 16): [26, 90],
             ('4', '2014', 20): [194, 276],
             ('4', '2018', 17): [91, 138],
             ('5', '2006', 19): [71, 114],
             ('5', '2009', 16): [83, 150],
             ('5', '2009', 17): [42, 192],
             ('5', '2009', 20): [158, 207],
             ('5', '2014', 17): [223, 235],
             ('6', '2007', 18): [79, 216],
             ('6', '2014', 18): [183, 195],
             ('7', '2007', 18): [152, 185],
             ('7', '2008', 19): [76, 264, 291],
             ('7', '2009', 16): [48, 177],
             ('7', '2009', 19): [170, 199],
             ('7', '2012', 19): [33, 278],
             ('7', '2013', 16): [20, 126],
             ('7', '2015', 18): [53, 290],
             ('7', '2017', 16): [89, 241],
             ('7', '2018', 16): [139, 171],
             ('7', '2019', 19): [52, 262],
             ('8', '2006', 18): [1, 32],
             ('8', '2006', 20): [13, 206],
             ('8', '2015', 16): [22, 73],
             ('8', '2018', 18): [179, 245],
             ('9', '2006', 18): [59, 159],
             ('9', '2008', 18): [80, 287],
             ('9', '2012', 19): [36, 144],
             ('9', '2018', 17): [128, 145],
             ('9', '2018', 20): [273, 288],
             ('2005', 16): [12, 134, 166, 297],
             ('2005', 19): [132, 157, 160, 277, 279, 296],
             ('2005', 20): [46, 98, 220, 243, 280],
             ('2006', 17): [27, 124],
             ('2007', 20): [140, 146],
             ('2008', 16): [41, 125, 252],
             ('2008', 17): [84, 205, 219, 251, 271],
             ('2008', 20): [99, 169, 246],
             ('2009', 18): [57, 184, 228],
             ('2010', 16): [108, 173, 180],
             ('2010', 17): [197, 208, 218, 269],
             ('2010', 18): [61, 70, 133],
             ('2010', 19): [17, 127],
             ('2011', 17): [203, 236],
             ('2011', 19): [45, 74, 129, 239, 274],
             ('2011', 20): [97, 103, 163],
             ('2012', 17): [95, 115, 121, 222, 266],
             ('2012', 18): [8, 256],
             ('2013', 17): [37, 39, 164],
             ('2013', 19): [35, 227, 258],
             ('2013', 20): [43, 284, 294],
             ('2014', 19): [50, 156, 213, 234],
             ('2016', 17): [10, 16, 66, 122],
             ('2016', 19): [78, 135, 249, 283, 292],
             ('2016', 20): [94, 181],
             ('2017', 17): [64, 188, 295],
             ('2017', 19): [233, 259],
             ('2017', 20): [168, 257],
             ('2018', 19): [131, 167, 285],
             ('2019', 16): [0, 49],
             ('2019', 17): [19, 196],
             ('2019', 18): [113, 143, 247, 272],
             ('2019', 20): [6, 14, 23]})

In [8]:
def generalization_trees():
    date_lvl = {
        ('Dia', 'Mes', 'Ano'): 1,
        ('Mes', 'Ano'): 2,
        ('Ano'): 3,
        ('Decada'): 4
    }
    
    age_lvl = {
        ('Idade'): 1,
        ('FaixaEtaria'): 2,
        ('RangeMaximo'): 3
    }
    
    return date_lvl, age_lvl

In [43]:
gen_trees = generalization_trees()
periods_date = list(gen_trees[0].keys())
periods_age = list(gen_trees[1].keys())

all_combinations = list(itertools.product(periods_date, periods_age))
print(all_combinations)
order = []
for i in all_combinations:
    order.append(gen_trees[0][i[0]]+gen_trees[1][i[1]])

list(zip(order, all_combinations))

zipped_lists = zip(order, all_combinations)
zipped_lists = sorted(zipped_lists)
for i in zipped_lists:
    print(i)
#sorted_all_combinations = [x for _, x in sorted_lists]

[(('Dia', 'Mes', 'Ano'), 'Idade'), (('Dia', 'Mes', 'Ano'), 'FaixaEtaria'), (('Dia', 'Mes', 'Ano'), 'RangeMaximo'), (('Mes', 'Ano'), 'Idade'), (('Mes', 'Ano'), 'FaixaEtaria'), (('Mes', 'Ano'), 'RangeMaximo'), ('Ano', 'Idade'), ('Ano', 'FaixaEtaria'), ('Ano', 'RangeMaximo'), ('Decada', 'Idade'), ('Decada', 'FaixaEtaria'), ('Decada', 'RangeMaximo')]

TypeError: 'axis' is an invalid keyword argument for sort()

In [23]:
def sort_priority(generalizations):
    date_tree, age_tree = generalization_trees()
    return
sort_priority

In [13]:
priority_level(split_data)

NameError: name 'priority_level' is not defined

In [17]:
def sort_priority():
    return

def priority_level(dataset):
    gen_trees = generalization_trees()
    periods_date = list(gen_trees[0].keys())
    periods_age = list(gen_trees[1].keys())

    all_combinations = list(itertools.product(periods_date, periods_age))
    all_combinations = [list(itertools.chain.from_iterable([[i] if(type(i) == str) else list(i) for i in list_i ])) \
                        for list_i in all_combinations] 
    all_combinations = [i for i in all_combinations if('FaixaEtaria' in i or 'RangeMaximo' in i or 'Decada' in i)]
    print(all_combinations)
    all_groups = [dataset.groupby(all_combinations[i]).groups for i in range(len(all_combinations))]

    return all_groups

def cluster_by_priority(dataset, clusters, clustered, k):
    not_clustered = list(set(dataset.index) - set(clustered))
    not_clustered_df = dataset.loc[not_clustered]
    groups = priority_level(not_clustered_df)

    for i in range(len(groups)):
        for key, value in zip(groups[i].keys(), groups[i].values()):
            if (len(value) - len(clustered.intersection(value))) >= k : # and len(clustered.intersection(value)) == 0:
                # se o grupo do groupby é maior ou igual a k e nenhum dos valores já estiver agrupado
                clusters[key] = list(itertools.chain(list(set(value) - set(clustered))))
                clustered = clustered.union(clusters[key])
                
    return clusters, len(dataset) - len(clustered), list(set(dataset.index) - set(clustered))

cluster_by_priority(split_data, clusters, clustered, 2)
priority_level(split_data)

[['Dia', 'Mes', 'Ano', 'FaixaEtaria'], ['Dia', 'Mes', 'Ano', 'RangeMaximo'], ['Mes', 'Ano', 'FaixaEtaria'], ['Mes', 'Ano', 'RangeMaximo'], ['Ano', 'FaixaEtaria'], ['Ano', 'RangeMaximo'], ['Decada', 'Idade'], ['Decada', 'FaixaEtaria'], ['Decada', 'RangeMaximo']]
[['Dia', 'Mes', 'Ano', 'FaixaEtaria'], ['Dia', 'Mes', 'Ano', 'RangeMaximo'], ['Mes', 'Ano', 'FaixaEtaria'], ['Mes', 'Ano', 'RangeMaximo'], ['Ano', 'FaixaEtaria'], ['Ano', 'RangeMaximo'], ['Decada', 'Idade'], ['Decada', 'FaixaEtaria'], ['Decada', 'RangeMaximo']]

[{('1', '1', '2019', '15-17'): [272], ('1', '10', '2012', '15-17'): [115], ('1', '3', '2019', '18-20'): [6], ('1', '4', '2014', '18-20'): [50], ('1', '4', '2018', '15-17'): [224], ('1', '5', '2009', '15-17'): [150], ('1', '6', '2014', '15-17'): [289], ('1', '6', '2016', '18-20'): [249], ('1', '7', '2011', '15-17'): [72], ('1', '7', '2012', '15-17'): [8], ('1', '7', '2015', '15-17'): [290], ('1', '7', '2017', '15-17'): [241], ('10', '11', '2007', '15-17'): [81], ('10', '2', '2019', '15-17'): [49], ('10', '3', '2007', '18-20'): [47], ('10', '3', '2014', '18-20'): [156], ('10', '8', '2011', '18-20'): [163], ('11', '1', '2015', '15-17'): [123], ('11', '11', '2005', '15-17'): [12], ('11', '2', '2019', '15-17'): [247], ('11', '3', '2018', '15-17'): [9], ('11', '4', '2015', '18-20'): [110], ('11', '7', '2009', '18-20'): [93], ('11', '7', '2012', '15-17'): [95], ('11', '8', '2015', '15-17'): [73], ('12', '1', '2013', '15-17'): [164], ('12', '10', '2007', '15-17'): [34], ('12', '11', '2008', '15-17'): [41], ('12', '3', '2008', '15-17'): [69], ('12', '3', '2015', '15-17'): [112], ('12', '3', '2017', '15-17'): [270], ('12', '4', '2006', '15-17'): [124], ('12', '8', '2006', '18-20'): [13], ('12', '8', '2015', '15-17'): [22], ('12', '8', '2018', '15-17'): [200], ('12', '9', '2015', '18-20'): [221], ('13', '2', '2005', '15-17'): [55], ('13', '2', '2009', '15-17'): [3], ('13', '3', '2015', '15-17'): [254], ('13', '5', '2016', '18-20'): [283], ('13', '7', '2018', '15-17'): [139], ('13', '9', '2018', '18-20'): [273], ('14', '1', '2014', '18-20'): [275], ('14', '1', '2016', '18-20'): [78], ('14', '10', '2006', '18-20'): [40], ('14', '11', '2010', '18-20'): [127], ('14', '2', '2005', '18-20'): [243], ('14', '2', '2006', '15-17'): [27], ('14', '3', '2011', '18-20'): [97], ('14', '4', '2011', '15-17'): [186], ('14', '4', '2015', '15-17'): [211], ('14', '5', '2008', '18-20'): [240], ('14', '6', '2019', '18-20'): [23], ('14', '7', '2007', '15-17'): [152], ('14', '7', '2018', '15-17'): [171], ('14', '9', '2009', '15-17'): [228], ('14', '9', '2018', '15-17'): [128], ('14', '9', '2018', '18-20'): [131], ('15', '1', '2011', '15-17'): [2], ('15', '1', '2014', '18-20'): [109], ('15', '1', '2015', '15-17'): [82], ('15', '10', '2006', '15-17'): [44], ('15', '10', '2006', '18-20'): [209], ('15', '10', '2013', '15-17'): [101], ('15', '10', '2018', '15-17'): [130], ('15', '11', '2018', '18-20'): [285], ('15', '3', '2007', '18-20'): [155], ('15', '3', '2015', '18-20'): [238], ('15', '4', '2009', '18-20'): [153], ('15', '5', '2015', '18-20'): [265], ('15', '6', '2010', '15-17'): [108], ('15', '7', '2015', '15-17'): [53], ('15', '9', '2010', '15-17'): [180], ('15', '9', '2012', '18-20'): [144], ('16', '1', '2009', '15-17'): [24], ('16', '1', '2011', '15-17'): [193], ('16', '3', '2009', '18-20'): [263], ('16', '4', '2008', '18-20'): [169], ('16', '5', '2014', '15-17'): [268], ('16', '7', '2009', '18-20'): [170], ('16', '8', '2015', '18-20'): [106], ('16', '9', '2005', '18-20'): [98], ('17', '3', '2006', '18-20'): [202], ('17', '3', '2013', '15-17'): [282], ('17', '4', '2005', '15-17'): [67], ('17', '4', '2008', '15-17'): [219, 281], ('17', '4', '2011', '18-20'): [74], ('17', '7', '2006', '18-20'): [190], ('18', '1', '2018', '15-17'): [187], ('18', '10', '2007', '18-20'): [204], ('18', '11', '2007', '18-20'): [15], ('18', '2', '2005', '18-20'): [157], ('18', '2', '2016', '15-17'): [66], ('18', '4', '2010', '15-17'): [197], ('18', '5', '2009', '15-17'): [83], ('18', '5', '2010', '18-20'): [5], ('18', '7', '2005', '18-20'): [280], ('18', '7', '2015', '15-17'): [86], ('18', '7', '2017', '15-17'): [89], ('18', '7', '2019', '18-20'): [52], ...},
 {('1', '1', '2019', '16-20'): [272], ('1', '10', '2012', '16-20'): [115], ('1', '3', '2019', '16-20'): [6], ('1', '4', '2014', '16-20'): [50], ('1', '4', '2018', '16-20'): [224], ('1', '5', '2009', '16-20'): [150], ('1', '6', '2014', '16-20'): [289], ('1', '6', '2016', '16-20'): [249], ('1', '7', '2011', '16-20'): [72], ('1', '7', '2012', '16-20'): [8], ('1', '7', '2015', '16-20'): [290], ('1', '7', '2017', '16-20'): [241], ('10', '11', '2007', '16-20'): [81], ('10', '2', '2019', '16-20'): [49], ('10', '3', '2007', '16-20'): [47], ('10', '3', '2014', '16-20'): [156], ('10', '8', '2011', '16-20'): [163], ('11', '1', '2015', '16-20'): [123], ('11', '11', '2005', '16-20'): [12], ('11', '2', '2019', '16-20'): [247], ('11', '3', '2018', '16-20'): [9], ('11', '4', '2015', '16-20'): [110], ('11', '7', '2009', '16-20'): [93], ('11', '7', '2012', '16-20'): [95], ('11', '8', '2015', '16-20'): [73], ('12', '1', '2013', '16-20'): [164], ('12', '10', '2007', '16-20'): [34], ('12', '11', '2008', '16-20'): [41], ('12', '3', '2008', '16-20'): [69], ('12', '3', '2015', '16-20'): [112], ('12', '3', '2017', '16-20'): [270], ('12', '4', '2006', '16-20'): [124], ('12', '8', '2006', '16-20'): [13], ('12', '8', '2015', '16-20'): [22], ('12', '8', '2018', '16-20'): [200], ('12', '9', '2015', '16-20'): [221], ('13', '2', '2005', '16-20'): [55], ('13', '2', '2009', '16-20'): [3], ('13', '3', '2015', '16-20'): [254], ('13', '5', '2016', '16-20'): [283], ('13', '7', '2018', '16-20'): [139], ('13', '9', '2018', '16-20'): [273], ('14', '1', '2014', '16-20'): [275], ('14', '1', '2016', '16-20'): [78], ('14', '10', '2006', '16-20'): [40], ('14', '11', '2010', '16-20'): [127], ('14', '2', '2005', '16-20'): [243], ('14', '2', '2006', '16-20'): [27], ('14', '3', '2011', '16-20'): [97], ('14', '4', '2011', '16-20'): [186], ('14', '4', '2015', '16-20'): [211], ('14', '5', '2008', '16-20'): [240], ('14', '6', '2019', '16-20'): [23], ('14', '7', '2007', '16-20'): [152], ('14', '7', '2018', '16-20'): [171], ('14', '9', '2009', '16-20'): [228], ('14', '9', '2018', '16-20'): [128, 131], ('15', '1', '2011', '16-20'): [2], ('15', '1', '2014', '16-20'): [109], ('15', '1', '2015', '16-20'): [82], ('15', '10', '2006', '16-20'): [44, 209], ('15', '10', '2013', '16-20'): [101], ('15', '10', '2018', '16-20'): [130], ('15', '11', '2018', '16-20'): [285], ('15', '3', '2007', '16-20'): [155], ('15', '3', '2015', '16-20'): [238], ('15', '4', '2009', '16-20'): [153], ('15', '5', '2015', '16-20'): [265], ('15', '6', '2010', '16-20'): [108], ('15', '7', '2015', '16-20'): [53], ('15', '9', '2010', '16-20'): [180], ('15', '9', '2012', '16-20'): [144], ('16', '1', '2009', '16-20'): [24], ('16', '1', '2011', '16-20'): [193], ('16', '3', '2009', '16-20'): [263], ('16', '4', '2008', '16-20'): [169], ('16', '5', '2014', '16-20'): [268], ('16', '7', '2009', '16-20'): [170], ('16', '8', '2015', '16-20'): [106], ('16', '9', '2005', '16-20'): [98], ('17', '3', '2006', '16-20'): [202], ('17', '3', '2013', '16-20'): [282], ('17', '4', '2005', '16-20'): [67], ('17', '4', '2008', '16-20'): [219, 281], ('17', '4', '2011', '16-20'): [74], ('17', '7', '2006', '16-20'): [190], ('18', '1', '2018', '16-20'): [187], ('18', '10', '2007', '16-20'): [204], ('18', '11', '2007', '16-20'): [15], ('18', '2', '2005', '16-20'): [157], ('18', '2', '2016', '16-20'): [66], ('18', '4', '2010', '16-20'): [197], ('18', '5', '2009', '16-20'): [83], ('18', '5', '2010', '16-20'): [5], ('18', '7', '2005', '16-20'): [280], ('18', '7', '2015', '16-20'): [86], ('18', '7', '2017', '16-20'): [89], ('18', '7', '2019', '16-20'): [52], ('18', '9', '2008', '16-20'): [80], ('19', '1', '2007', '16-20'): [298], ...},
 {('1', '2005', '18-20'): [160], ('1', '2006', '18-20'): [267], ('1', '2007', '18-20'): [298], ('1', '2009', '15-17'): [24], ('1', '2009', '18-20'): [149], ('1', '2010', '15-17'): [133, 218], ('1', '2011', '15-17'): [2, 193], ('1', '2011', '18-20'): [103], ('1', '2013', '15-17'): [164], ('1', '2013', '18-20'): [227], ('1', '2014', '15-17'): [141, 226], ('1', '2014', '18-20'): [109, 275], ('1', '2015', '15-17'): [82, 123], ('1', '2015', '18-20'): [178, 214], ('1', '2016', '15-17'): [201], ('1', '2016', '18-20'): [78, 94], ('1', '2018', '15-17'): [187, 261], ('1', '2018', '18-20'): [58], ('1', '2019', '15-17'): [272], ('1', '2019', '18-20'): [14], ('10', '2005', '15-17'): [166], ('10', '2006', '15-17'): [44], ('10', '2006', '18-20'): [40, 198, 209], ('10', '2007', '15-17'): [34], ('10', '2007', '18-20'): [204], ('10', '2008', '18-20'): [99], ('10', '2012', '15-17'): [115], ('10', '2012', '18-20'): [175, 242, 299], ('10', '2013', '15-17'): [101], ('10', '2013', '18-20'): [35], ('10', '2016', '15-17'): [10], ('10', '2017', '15-17'): [295], ('10', '2017', '18-20'): [259], ('10', '2018', '15-17'): [130], ('11', '2005', '15-17'): [12, 162], ('11', '2005', '18-20'): [279], ('11', '2006', '18-20'): [85], ('11', '2007', '15-17'): [81, 293], ('11', '2007', '18-20'): [15, 146, 161], ('11', '2008', '15-17'): [41, 232], ('11', '2010', '15-17'): [269], ('11', '2010', '18-20'): [127], ('11', '2012', '15-17'): [256, 266], ('11', '2013', '15-17'): [230], ('11', '2013', '18-20'): [43], ('11', '2014', '15-17'): [250, 286], ('11', '2014', '18-20'): [234], ('11', '2015', '15-17'): [51], ('11', '2017', '15-17'): [62, 119, 229], ('11', '2018', '18-20'): [285], ('11', '2019', '15-17'): [196], ('11', '2019', '18-20'): [21, 88], ('2', '2005', '15-17'): [38, 55], ('2', '2005', '18-20'): [157, 243], ('2', '2006', '15-17'): [27, 29, 136], ('2', '2009', '15-17'): [3, 248], ('2', '2009', '18-20'): [120], ('2', '2010', '15-17'): [61, 208], ('2', '2011', '18-20'): [239], ('2', '2012', '15-17'): [244], ('2', '2012', '18-20'): [60, 118], ('2', '2015', '15-17'): [30], ('2', '2015', '18-20'): [87, 102], ('2', '2016', '15-17'): [66], ('2', '2017', '15-17'): [63], ('2', '2017', '18-20'): [233], ('2', '2018', '15-17'): [189], ('2', '2019', '15-17'): [49, 247], ('3', '2005', '15-17'): [116], ('3', '2006', '15-17'): [105], ('3', '2006', '18-20'): [202], ('3', '2007', '15-17'): [154, 231], ('3', '2007', '18-20'): [47, 155], ('3', '2008', '15-17'): [69], ('3', '2009', '15-17'): [176], ('3', '2009', '18-20'): [263], ('3', '2010', '15-17'): [70], ('3', '2011', '15-17'): [137], ('3', '2011', '18-20'): [97], ('3', '2013', '15-17'): [148, 282], ('3', '2014', '18-20'): [156], ('3', '2015', '15-17'): [112, 254, 260], ('3', '2015', '18-20'): [238], ('3', '2017', '15-17'): [100, 270], ('3', '2017', '18-20'): [168], ('3', '2018', '15-17'): [9, 96], ('3', '2019', '15-17'): [113], ('3', '2019', '18-20'): [6], ('4', '2005', '15-17'): [67, 134, 217], ('4', '2005', '18-20'): [132, 220], ('4', '2006', '15-17'): [124], ('4', '2007', '15-17'): [117], ('4', '2008', '15-17'): [219, 281], ('4', '2008', '18-20'): [169], ('4', '2009', '15-17'): [184], ('4', '2009', '18-20'): [77, 153, 210], ('4', '2010', '15-17'): [197], ('4', '2011', '15-17'): [111, 186, 212], ('4', '2011', '18-20'): [74], ('4', '2012', '15-17'): [26, 90], ...},
 {('1', '2005', '16-20'): [160], ('1', '2006', '16-20'): [267], ('1', '2007', '16-20'): [298], ('1', '2009', '16-20'): [24, 149], ('1', '2010', '16-20'): [133, 218], ('1', '2011', '16-20'): [2, 103, 193], ('1', '2013', '16-20'): [164, 227], ('1', '2014', '16-20'): [109, 141, 226, 275], ('1', '2015', '16-20'): [82, 123, 178, 214], ('1', '2016', '16-20'): [78, 94, 201], ('1', '2018', '16-20'): [58, 187, 261], ('1', '2019', '16-20'): [14, 272], ('10', '2005', '16-20'): [166], ('10', '2006', '16-20'): [40, 44, 198, 209], ('10', '2007', '16-20'): [34, 204], ('10', '2008', '16-20'): [99], ('10', '2012', '16-20'): [115, 175, 242, 299], ('10', '2013', '16-20'): [35, 101], ('10', '2016', '16-20'): [10], ('10', '2017', '16-20'): [259, 295], ('10', '2018', '16-20'): [130], ('11', '2005', '16-20'): [12, 162, 279], ('11', '2006', '16-20'): [85], ('11', '2007', '16-20'): [15, 81, 146, 161, 293], ('11', '2008', '16-20'): [41, 232], ('11', '2010', '16-20'): [127, 269], ('11', '2012', '16-20'): [256, 266], ('11', '2013', '16-20'): [43, 230], ('11', '2014', '16-20'): [234, 250, 286], ('11', '2015', '16-20'): [51], ('11', '2017', '16-20'): [62, 119, 229], ('11', '2018', '16-20'): [285], ('11', '2019', '16-20'): [21, 88, 196], ('2', '2005', '16-20'): [38, 55, 157, 243], ('2', '2006', '16-20'): [27, 29, 136], ('2', '2009', '16-20'): [3, 120, 248], ('2', '2010', '16-20'): [61, 208], ('2', '2011', '16-20'): [239], ('2', '2012', '16-20'): [60, 118, 244], ('2', '2015', '16-20'): [30, 87, 102], ('2', '2016', '16-20'): [66], ('2', '2017', '16-20'): [63, 233], ('2', '2018', '16-20'): [189], ('2', '2019', '16-20'): [49, 247], ('3', '2005', '16-20'): [116], ('3', '2006', '16-20'): [105, 202], ('3', '2007', '16-20'): [47, 154, 155, 231], ('3', '2008', '16-20'): [69], ('3', '2009', '16-20'): [176, 263], ('3', '2010', '16-20'): [70], ('3', '2011', '16-20'): [97, 137], ('3', '2013', '16-20'): [148, 282], ('3', '2014', '16-20'): [156], ('3', '2015', '16-20'): [112, 238, 254, 260], ('3', '2017', '16-20'): [100, 168, 270], ('3', '2018', '16-20'): [9, 96], ('3', '2019', '16-20'): [6, 113], ('4', '2005', '16-20'): [67, 132, 134, 217, 220], ('4', '2006', '16-20'): [124], ('4', '2007', '16-20'): [117], ('4', '2008', '16-20'): [169, 219, 281], ('4', '2009', '16-20'): [77, 153, 184, 210], ('4', '2010', '16-20'): [197], ('4', '2011', '16-20'): [74, 111, 186, 212], ('4', '2012', '16-20'): [26, 90], ('4', '2013', '16-20'): [39, 284], ('4', '2014', '16-20'): [50, 194, 255, 276], ('4', '2015', '16-20'): [110, 211], ('4', '2016', '16-20'): [135], ('4', '2018', '16-20'): [91, 138, 167, 224], ('5', '2005', '16-20'): [18, 297], ('5', '2006', '16-20'): [71, 114, 215], ('5', '2007', '16-20'): [225], ('5', '2008', '16-20'): [240, 271], ('5', '2009', '16-20'): [42, 65, 83, 150, 158, 192, 207], ('5', '2010', '16-20'): [5], ('5', '2011', '16-20'): [129], ('5', '2012', '16-20'): [54], ('5', '2014', '16-20'): [182, 213, 223, 235, 268], ('5', '2015', '16-20'): [265], ('5', '2016', '16-20'): [283], ('5', '2017', '16-20'): [188], ('5', '2019', '16-20'): [19, 28, 143], ('6', '2005', '16-20'): [46, 277], ('6', '2006', '16-20'): [4], ('6', '2007', '16-20'): [79, 140, 216], ('6', '2008', '16-20'): [84, 246], ('6', '2009', '16-20'): [11], ('6', '2010', '16-20'): [108], ('6', '2011', '16-20'): [236, 274], ('6', '2013', '16-20'): [37, 258, 294], ('6', '2014', '16-20'): [183, 195, 289], ('6', '2016', '16-20'): [249], ('6', '2017', '16-20'): [257], ('6', '2019', '16-20'): [23], ('7', '2005', '16-20'): [280], ('7', '2006', '16-20'): [31, 190], ('7', '2007', '16-20'): [152, 185], ('7', '2008', '16-20'): [76, 172, 251, 252, 264, 291], ('7', '2009', '16-20'): [48, 93, 170, 177, 199], ...},
 {('2005', '15-17'): [12, 18, 38, 55, 67, 116, 134, 162, 166, 217, 253, 297], ('2005', '18-20'): [46, 98, 132, 157, 160, 220, 243, 277, 279, 280, 296], ('2006', '15-17'): [1, 4, 27, 29, 32, 44, 59, 105, 124, 136, 159], ('2006', '18-20'): [13, 31, 40, 71, 85, 114, 151, 190, 198, 202, 206, 209, 215, 267], ('2007', '15-17'): [34, 79, 81, 117, 152, 154, 185, 216, 225, 231, 293], ('2007', '18-20'): [15, 47, 75, 140, 146, 155, 161, 204, 298], ('2008', '15-17'): [41, 69, 80, 84, 125, 172, 205, 219, 232, 251, 252, 271, 281, 287], ('2008', '18-20'): [76, 99, 169, 240, 246, 264, 291], ('2009', '15-17'): [3, 24, 42, 48, 57, 83, 92, 150, 176, 177, 184, 192, 228, 248], ('2009', '18-20'): [11, 65, 77, 93, 120, 142, 149, 153, 158, 170, 191, 199, 207, 210, 263], ('2010', '15-17'): [61, 70, 108, 133, 173, 180, 197, 208, 218, 269], ('2010', '18-20'): [5, 17, 127], ('2011', '15-17'): [2, 25, 72, 111, 137, 165, 186, 193, 203, 212, 236], ('2011', '18-20'): [45, 74, 97, 103, 129, 163, 239, 274], ('2012', '15-17'): [8, 26, 54, 90, 95, 115, 121, 222, 244, 256, 266], ('2012', '18-20'): [33, 36, 60, 118, 144, 147, 175, 242, 278, 299], ('2013', '15-17'): [7, 20, 37, 39, 101, 126, 148, 164, 230, 282], ('2013', '18-20'): [35, 43, 227, 258, 284, 294], ('2014', '15-17'): [107, 141, 183, 195, 223, 226, 235, 250, 255, 268, 286, 289], ('2014', '18-20'): [50, 109, 156, 182, 194, 213, 234, 275, 276], ('2015', '15-17'): [22, 30, 51, 53, 73, 82, 86, 112, 123, 211, 254, 260, 290], ('2015', '18-20'): [56, 87, 102, 106, 110, 178, 214, 221, 238, 265], ('2016', '15-17'): [10, 16, 66, 122, 201], ('2016', '18-20'): [78, 94, 135, 181, 249, 283, 292], ('2017', '15-17'): [62, 63, 64, 89, 100, 104, 119, 174, 188, 229, 237, 241, 270, 295], ('2017', '18-20'): [168, 233, 257, 259], ('2018', '15-17'): [9, 68, 91, 96, 128, 130, 138, 139, 145, 171, 179, 187, 189, 200, 224, 245, 261], ('2018', '18-20'): [58, 131, 167, 273, 285, 288], ('2019', '15-17'): [0, 19, 49, 113, 143, 196, 247, 272], ('2019', '18-20'): [6, 14, 21, 23, 28, 52, 88, 262]},
 {('2005', '16-20'): [12, 18, 38, 46, 55, 67, 98, 116, 132, 134, 157, 160, 162, 166, 217, 220, 243, 253, 277, 279, 280, 296, 297], ('2006', '16-20'): [1, 4, 13, 27, 29, 31, 32, 40, 44, 59, 71, 85, 105, 114, 124, 136, 151, 159, 190, 198, 202, 206, 209, 215, 267], ('2007', '16-20'): [15, 34, 47, 75, 79, 81, 117, 140, 146, 152, 154, 155, 161, 185, 204, 216, 225, 231, 293, 298], ('2008', '16-20'): [41, 69, 76, 80, 84, 99, 125, 169, 172, 205, 219, 232, 240, 246, 251, 252, 264, 271, 281, 287, 291], ('2009', '16-20'): [3, 11, 24, 42, 48, 57, 65, 77, 83, 92, 93, 120, 142, 149, 150, 153, 158, 170, 176, 177, 184, 191, 192, 199, 207, 210, 228, 248, 263], ('2010', '16-20'): [5, 17, 61, 70, 108, 127, 133, 173, 180, 197, 208, 218, 269], ('2011', '16-20'): [2, 25, 45, 72, 74, 97, 103, 111, 129, 137, 163, 165, 186, 193, 203, 212, 236, 239, 274], ('2012', '16-20'): [8, 26, 33, 36, 54, 60, 90, 95, 115, 118, 121, 144, 147, 175, 222, 242, 244, 256, 266, 278, 299], ('2013', '16-20'): [7, 20, 35, 37, 39, 43, 101, 126, 148, 164, 227, 230, 258, 282, 284, 294], ('2014', '16-20'): [50, 107, 109, 141, 156, 182, 183, 194, 195, 213, 223, 226, 234, 235, 250, 255, 268, 275, 276, 286, 289], ('2015', '16-20'): [22, 30, 51, 53, 56, 73, 82, 86, 87, 102, 106, 110, 112, 123, 178, 211, 214, 221, 238, 254, 260, 265, 290], ('2016', '16-20'): [10, 16, 66, 78, 94, 122, 135, 181, 201, 249, 283, 292], ('2017', '16-20'): [62, 63, 64, 89, 100, 104, 119, 168, 174, 188, 229, 233, 237, 241, 257, 259, 270, 295], ('2018', '16-20'): [9, 58, 68, 91, 96, 128, 130, 131, 138, 139, 145, 167, 171, 179, 187, 189, 200, 224, 245, 261, 273, 285, 288], ('2019', '16-20'): [0, 6, 14, 19, 21, 23, 28, 49, 52, 88, 113, 143, 196, 247, 262, 272]},
 {('2000', 16): [12, 24, 29, 34, 41, 44, 48, 83, 105, 125, 134, 136, 150, 166, 176, 177, 252, 297], ('2000', 17): [3, 27, 42, 81, 84, 92, 124, 154, 192, 205, 219, 231, 248, 251, 253, 271], ('2000', 18): [1, 4, 18, 32, 38, 55, 57, 59, 67, 69, 79, 80, 116, 117, 152, 159, 162, 172, 184, 185, 216, 217, 225, 228, 232, 281, 287, 293], ('2000', 19): [11, 15, 31, 40, 47, 65, 71, 75, 76, 114, 132, 151, 153, 155, 157, 160, 161, 170, 191, 199, 204, 209, 240, 263, 264, 267, 277, 279, 291, 296, 298], ('2000', 20): [13, 46, 77, 85, 93, 98, 99, 120, 140, 142, 146, 149, 158, 169, 190, 198, 202, 206, 207, 210, 215, 220, 243, 246, 280], ('2010', 16): [0, 2, 7, 9, 20, 22, 26, 30, 49, 54, 62, 63, 72, 73, 89, 90, 96, 108, 119, 126, 137, 139, 171, 173, 174, 180, 193, 237, 241, 244, 260, 289], ('2010', 17): [10, 16, 19, 37, 39, 64, 66, 86, 91, 95, 112, 115, 121, 122, 123, 128, 130, 138, 145, 164, 187, 188, 196, 197, 200, 203, 208, 218, 222, 223, 226, 235, 236, 250, 254, 266, 269, 295], ('2010', 18): [8, 25, 51, 53, 61, 68, 70, 82, 100, 101, 104, 107, 111, 113, 133, 141, 143, 148, 165, 179, 183, 186, 189, 195, 201, 211, 212, 224, 229, 230, 245, 247, 255, 256, 261, 268, 270, 272, 282, 286, 290], ('2010', 19): [17, 21, 28, 33, 35, 36, 45, 50, 52, 56, 60, 74, 78, 88, 110, 118, 127, 129, 131, 135, 144, 156, 167, 175, 178, 213, 214, 221, 227, 233, 234, 239, 242, 249, 258, 259, 262, 274, 278, 283, 285, 292, 299], ('2010', 20): [5, 6, 14, 23, 43, 58, 87, 94, 97, 102, 103, 106, 109, 147, 163, 168, 181, 182, 194, 238, 257, 265, 273, 275, 276, 284, 288, 294]},

In [14]:
split_data.loc[[17, 146, 140, 127]]

    Dia Mes   Ano Decada  Idade FaixaEtaria RangeMaximo     Doenca
17    9   7  2010   2010     19       18-20       16-20  meningite
146  23  11  2007   2000     20       18-20       16-20   catapora
140   7   6  2007   2000     20       18-20       16-20  meningite
127  14  11  2010   2010     19       18-20       16-20      gripe

In [15]:
def clustering_remaining_tuples(dataset, clusters, clustered, k): # dataset split with age range
    def priority_level(dataset, age_level, date_level):
        if(age_level == 2 and date_level < 4):
            data = dataset[['Dia', 'Mes', 'Ano', 'FaixaEtaria', 'Doenca']]
            generalization_order = [list(dataset.columns[i:-1]) for i in range(len(data.columns[:-1]))]
            generalization_order = [dataset.groupby(generalization_order[i]).groups for i in range(len(generalization_order))]
        
            return generalization_order
    
    # Agrupar por década e intervalo de idade
    not_clustered = list(set(dataset.index) - set(clustered))
    not_clustered_df = dataset.loc[not_clustered]
    
    
    
    return not_clustered_df
    
clustering_remaining_tuples(split_data, clusters, clustered, 2)

    Dia Mes   Ano Decada  Idade FaixaEtaria RangeMaximo     Doenca
4    19   6  2006   2000     18       15-17       16-20  meningite
5    18   5  2010   2010     20       18-20       16-20  meningite
7     5   9  2013   2010     16       15-17       16-20      gripe
11   24   6  2009   2000     19       18-20       16-20  meningite
18   27   5  2005   2000     18       15-17       16-20      gripe
..   ..  ..   ...    ...    ...         ...         ...        ...
281  17   4  2008   2000     18       15-17       16-20   catapora
286  28  11  2014   2010     18       15-17       16-20    sarampo
289   1   6  2014   2010     16       15-17       16-20   catapora
293   6  11  2007   2000     18       15-17       16-20  meningite
298  19   1  2007   2000     19       18-20       16-20    sarampo

[89 rows x 8 columns]

In [16]:
list(range(5))

[0, 1, 2, 3, 4]

# k-anonimato

In [17]:
def k_anonymity(dataset, clusters):
    k_anonymized = pd.DataFrame([[None]*3]*len(dataset), columns=dataset.columns)
    for key, value in zip(clusters.keys(), clusters.values()):
        if not isinstance(key, list) and isinstance(key, str):
            if '-' not in key:
                k_anonymized.loc[value] = [[key, '{}-{}'.format(dataset['Idade'].min(), dataset['Idade'].max()), key]+[dataset[dataset.columns[-1]].loc[v]] for v in value]
            else:
                k_anonymized.loc[value] = [['*', key]+[dataset[dataset.columns[-1]].loc[v]] for v in value]

        if not isinstance(key, list) and isinstance(key, int):
            k_anonymized.loc[value] = [['*', key]+[dataset[dataset.columns[-1]].loc[v]] for v in value]

        elif all(map(lambda x: isinstance(x, str), key)):
            k_anonymized.loc[value] = [[k for k in key]+[dataset[dataset.columns[-1]].loc[v]] for v in value]

        else:
            to_fill = [key[0]]
            for i in range(1, len(key)):
                if type(key[i]) == str:
                    to_fill[0] = to_fill[0] + str('/'+key[i])
                else:
                    to_fill.append(key[i])
            k_anonymized.loc[value] = [to_fill+[dataset[dataset.columns[-1]].loc[v]] for v in value]

    return k_anonymized

In [18]:
def plot_histogram(clusters):
    lengths = []
    for cluster in clusters.values():
        lengths.append(len(cluster))

    counter = dict(sorted(Counter(lengths).items()))
    keys_str = [str(key) for key in counter.keys()]
    plt.bar(keys_str, counter.values())
    
    return plt.show()

In [19]:
def calc_distance(x, y, attributes):
    D = 0
    for attr in attributes:
        if(x[attr] != y[attr]):
            D += 1
        print(attr, ': ', D, ' - ', x[attr], ' ?= ', y[attr])
            
    return D

In [20]:
# testing calc_distancabse
calc_distance(split_data.iloc[7], split_data.iloc[17], ['Dia', 'Mes', 'Ano', 'Decada', 'Idade', 'FaixaEtaria', 'RangeMaximo'])

Dia :  1  -  5  ?=  9
Mes :  2  -  9  ?=  7
Ano :  3  -  2013  ?=  2010
Decada :  3  -  2010  ?=  2010
Idade :  4  -  16  ?=  19
FaixaEtaria :  5  -  15-17  ?=  18-20
RangeMaximo :  5  -  16-20  ?=  16-20

5

In [21]:
split_data.loc[[7,17]]

   Dia Mes   Ano Decada  Idade FaixaEtaria RangeMaximo     Doenca
7    5   9  2013   2010     16       15-17       16-20      gripe
17   9   7  2010   2010     19       18-20       16-20  meningite

# Chamadas de funções

In [ ]:
clusters, clustered = initial_clusters(alunos_copy, 20)
all_clusters = clustering_remaining_tuples(alunos_copy, clusters, clustered, 20)

In [ ]:
a = k_anonymity(alunos, all_clusters)
a.head()

In [ ]:
plot_histogram(all_clusters)